body,
html {
    font-size: 24px;
    height: 100%;
    width: 100%;
    background: linear-gradient(185deg, #57d5cb, #f1ceb6, #d4e2e1, #ffffff, #72c5f3, #7acc81);
    background-size: 1200% 1200%;
    -webkit-animation: bg 59s ease infinite;
    animation: bg 59s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.container {
    padding: 50px;
    background: #fff;
    box-shadow: #000 1px 3px 38px -9px;
    width: 500px;
}

.input {
    font-size: 1rem;
    width: 100%;
    border: none;
    border-bottom: 1px #c8c8c8 solid;
    margin-bottom: 30px;
    outline: none;
}

.row {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

.row:hover {
    background: #f3f3f3;
}

.row-detail {
    word-break: break-all;
}

.row-order {
    color: #0e55c4;
    font-weight: 900;
}

.row-date {
    font-size: 0.7rem;
    vertical-align: middle;
    color: #616161;
}

.row-manage {
    display: flex;
    align-items: center;
    color: #fff;
    visibility: hidden;
}

.line-manage {
    float: right;
    font-size: 0.7rem;
    color: #eee;
    padding: 10px 0;
    font-weight: 700;
}

.p5 {
    padding: 0 5px;
}

.task-finish {
    cursor: pointer;
    color: #7e7e7e;
    transition: color 0.3s, transform 0.3s;
}

.task-finish:hover {
    color: green;
    transform: scale(1.3);
}


.task-del {
    cursor: pointer;
    color: #7e7e7e;
    transition: color 0.3s, transform 0.3s;
}

.task-del:hover {
    color: red;
    transform: scale(1.3);
}

.row:hover .row-manage {
    visibility: visible;
}

.btn {
    padding: 5px 10px;
    background: #efefef;
    margin-left: 10px;
}

.select {
    background: #ebf2ff !important;
}

.footer {
    position: fixed;
    bottom: 0;
    right: 10px;
    color: #fff;
    font-size: 2rem;
}

.footer:hover {
    text-decoration: underline;
}

@-webkit-keyframes bg {
    0% {
        background-position: 46% 0%
    }
    50% {
        background-position: 55% 100%
    }
    100% {
        background-position: 46% 0%
    }
}

@keyframes bg {
    0% {
        background-position: 46% 0%
    }
    50% {
        background-position: 55% 100%
    }
    100% {
        background-position: 46% 0%
    }
}